{% extends 'base.html' %}

{% block authenticated_content %}

<style>
    h1{
        font-family: 'Bellota Text';
        font-size: 2vw;
    }

    .btn{
        color: white;
    }
</style>
  
<div class="container vh-100 w-100 d-flex justify-content-center">
<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Choose the type of data</h1>

    <div class="d-flex m-3">
    {% comment %} <a href="{% url 'form' 'cpms' 'add'%}" class="button">CPMS</a> {% endcomment %}
    <a href="{% url 'form' 'examinee' 'add'%}" class="btn btn-info m-2">Examinees</a>
    <a href="{% url 'form' 'ojt' 'add'%}" class="btn btn-info m-2">On the Job-Training</a>
    <a href="{% url 'form' 'tmd' 'add'%}" class="btn btn-info m-2">TMD</a>
    <a href="{% url 'form' 'epmd' 'add'%}" class="btn btn-info m-2">EPMD</a>
    </div>
</div>
</div>

{% endblock %}