{% extends 'base.html' %}

{% block authenticated_content %}

<div class="vh-100 w-100 p-3">
<h1 style="text-transform: capitalize; font-family: 'Bellota Text'">{{method}} OJT Input</h1>
<div class="w-100 d-flex justify-content-center align-items-center">
<form method="POST">
    {% csrf_token %}
    <div class="d-flex column-gap-4 justify-content-around">
        <div class="form-group w-100">
            <label for="province">Province</label>
            <select class="form-control" name="province">
                <option {% if request.user.username == 'Batangas' %}selected{% endif %}>Batangas</option>
                <option {% if request.user.username == 'Cavite' %}selected{% endif %}>Cavite</option>
                <option {% if request.user.username == 'Laguna' %}selected{% endif %}>Laguna</option>
                <option {% if request.user.username == 'Rizal' %}selected{% endif %}>Rizal</option>
                <option {% if request.user.username == 'Quezon' %}selected{% endif %}>Quezon</option>
                <option {% if request.user.username == 'RO' %}selected{% endif %}>RO</option>
            </select>
        </div>
        <div class="form-group w-100">
            <label for="category">Component</label>
            <select class="form-control" name="category">
                <option>interns accepted</option>
                <option>interns completed</option>
            </select>
        </div>
    </div>
    <div class="form-group mt-4">
        <label for="suc">SUC</label>
        <input type="text" class="form-control" name="suc" value="{{form.suc.value|default_if_none:'' }}">
    </div>
    <div class="form-group mt-4">
        <label for="duration">Duration</label>
        <input type="Number" class="form-control" name="duration" value="{{form.duration.value|default_if_none:'' }}">
    </div>
    <div class="form-group mt-4">
        <label for="school_address">School Address</label>
        <input type="text" class="form-control" name="school_address" value="{{form.school_address.value|default_if_none:'' }}">
    </div>
    <div class="d-flex justify-content-around column-gap-3 mt-4">
        <div class="form-group w-100">
            <label for="representative">Representative</label>
            <input type="text" class="form-control" name="representative" value="{{form.representative.value|default_if_none:'' }}">
        </div>
        <div class="form-group w-100">
            <label for="representative_contact">Contact Number</label>
            <input type="text" class="form-control" name="representative_contact" value="{{form.representative_contact.value|default_if_none:'' }}">
        </div>
    </div>
    <div class="d-flex justify-content-around column-gap-5 mt-4">
        <div class="form-group w-100">
            <label for="student_name">Student Name</label>
            <input type="text" class="form-control" name="student_name" value="{{form.student_name.value|default_if_none:'' }}">
        </div>
        <div class="form-group w-100>
            <label for="sex">Gender</label>
            <select class="form-control" name="sex">
                <option>M</option>
                <option>F</option>
            </select>
        </div>
    <div class="form-group w-100">
        <label for="student_contact">Contact Number</label>
        <input type="text" class="form-control" name="student_contact" value="{{form.student_contact.value|default_if_none:'' }}">
    </div>
    </div>
    <div class="d-flex justify-content-around column-gap-3 mt-4">
        <div class="form-group w-100">
        <label for="start_date">Start Date</label>
        <input type="text" class="form-control datepicker" name="start_date" placeholder="Select a date" value="{{form.start_date.value|default_if_none:'' }}">
        </div>
        <div class="form-group w-100">
        <label for="end_date">End Date</label>
        <input type="text" class="form-control datepicker" name="end_date" placeholder="Select a date" value="{{form.end_date.value|default_if_none:'' }}">
        </div>
    </div>
    <div class="form-group mt-4">
        <label for="mode">Mode</label>
        <select class="form-control" name="mode">
            <option>Physical Reporting</option>
            <option>Online</option>
            <option>Hybrid</option>
        </select>
    </div>
    <div class="form-group mt-4">
        <label for="resume">Resume</label>
        <input type="checkbox" data-toggle="switch" name="resume" value="true"/>
    </div>
    <div class="form-group mt-2">
        <label for="endorsement">Endorsement</label>
        <input type="checkbox" data-toggle="switch" name="endorsement" value="true" />
    </div>
    <div class="form-group mt-2">
        <label for="moa">MoA</label>
        <input type="checkbox" data-toggle="switch" name="moa" value="true" />
    </div>
    <div class="form-group mt-4">
        <label for="remarks">Remarks</label>
        <textarea class="form-control" name="remarks" rows="2">{{form.remarks.value|default_if_none:'' }}</textarea>
    </div>
    <div class="m-3 column-gap-2 d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-success">Submit</button>
    <a class="btn btn-secondary"  href="{% url 'inputdata' %}" role="button">Back</a>
    </div>

</form>
</div>
</div>

<script>
    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: "MM dd, yyyy",
      });
    });
</script>
{% endblock %}