{% load static %}
<style>
    .sidebar {
        background-color: #F0B041;
        width: 270px;
    }

    .project-logo {
        padding: 50px;
    }

    .sidebar-list ul a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-family: 'Bellota Text';
        font-size: 18px;
        font-weight: 600;
        border: none;
    }

    .btn.btn-primary:hover {
        background-color: #DF6134;
        color: white;
    }

    .btn.btn-primary {
        background-color: #F0B041;
        color: black;
        border-style: none;
        padding: 10px;
        padding-left: 25px;
        column-gap: 10px;
    }

    .btn.btn-primary.active {
        background-color: #DF6134;
        color: white;
    }

    .btn {
        font-family: 'Bellota Text';
        font-weight: 600;
    }
</style>

<div class="vh-100 sidebar">
    <div class="vh-100 d-flex flex-column justify-content-between">
        <div class="d-flex flex-column sidebar-list">
            <div class="d-flex justify-content-center project-logo">
                <img src="{% static 'dict-flex.png' %}" style="height: 70px; width: 150px;">
            </div>
            <ul class="list-group">
                <a class="btn btn-primary d-flex align-items-center {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                    <img src="{% static 'home.png' %}" style="height: 30px; width: 30px">
                    Home
                </a>
                <a class="btn btn-primary d-flex align-items-center {% if request.path == '/dashboard/' %}active{% endif %}" href="{% url 'dashboard' %}">
                    <img src="{% static 'dashboard.png' %}" style="height: 30px; width: 30px">
                    Dashboard
                </a>
                <a class="btn btn-primary d-flex align-items-center {% if 'add' in request.path or request.path == '/form/' %}active{% endif %}" href="{% url 'inputdata' %}">
                    <img src="{% static 'inputdata.png' %}" style="height: 30px; width: 30px">
                    Input Data
                </a>
                <a class="btn btn-primary d-flex align-items-center {% if request.path == '/logs/' %}active{% endif %}" href="{% url 'home' %}">
                    <img src="{% static 'logs.png' %}" style="height: 30px; width: 30px">
                    Logs
                </a>
                <a class="btn btn-primary d-flex align-items-center {% if request.path == '/report/' %}active{% endif %}" href="{% url 'report' %}">
                    <img src="{% static 'reports.png' %}" style="height: 30px; width: 30px">
                    Reports
                </a>
                <a class="btn btn-primary d-flex align-items-center {% if request.path == '/settings/' %}active{% endif %}" href="{% url 'home' %}">
                    <img src="{% static 'settings.png' %}" style="height: 30px; width: 30px">
                    Settings
                </a>
            </ul>
        </div>
        <div class="mx-auto pb-3">
            <a role="button" class="btn btn-light rounded-pill" href="{% url 'logout' %}">Log out</a>
        </div>
    </div>
</div>


